p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Roboto Slab, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #958888;
}

a#main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    font-family: -apple-system, BlinkMaSystemFont, 'Segoe UI', Roboto, Roboto Slab, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: #373867;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Roboto Slab, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}

h4 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Roboto Slab, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

/* TABLET LAYOUT */
@media(min-width: 480px){
    h1 {
        margin-left: 42px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 17px;
    }

    body {
        /*align-items: flex-start;*/
    }

    header {
        justify-content: space-between;
    }

    footer {
        width: 100%;
    }

    .main-section {
        align-items: flex-start;
        width: 90%;
    }

    section.main-section:nth-child(3) {
        flex-direction: row;
        align-items: center;
    }

    #app-title {
        align-self: flex-start;
        font-size: 37px;
    }

    div#app-paragraph {
        justify-items: center;
        width: 50%;
        padding: 20px 0;
    }

    section.main-section div#time-image-container {
        display: flex;
        justify-content: center;
    }

    img#time-image {
        width: 80%;
    }

    div.functionality-container {
        display: flex;
    }

    .functionality {
        margin: 10px 20px 25px 30px;
    }

    section.main-section:nth-child(6) {
        align-items: normal;
    }

    form.form-container {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    section.form-section label#message {
        margin: 0;
    }

    section.form-section div#form-buttons-container {
        flex-direction: row;
    }

    section.history {
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
    }

    section.history p {
        padding: 0 35px;
    }

    section.history img {
        width: 45%;
        border-radius: 15px;
    }

    section.history:nth-child(2) {
        flex-direction: row;
    }

    #rr-logo {
        margin-right: 42px;
    }

    footer section.main-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-link a {
        font-size: 18px;
    }

    div#footer-pages-box {
        display: block;
    }

    footer section.main-section:nth-child(2) {
        flex-direction: column;
    }
}

@media(min-width: 1024px) {

    a:link {
        background-color: transparent;
        text-decoration: none;
        color: #000;
    }

    a:visited {
        background-color: transparent;
        text-decoration: none;
        color: #000;
    }

    body {
        flex-direction: row;
        /*background-color: #dcdada;*/
    }

    aside {
        display: flex;
    }

    main {
        display: block;
        position: fixed;
        width: 80%;
        background: #fff;
    }

    input[type=search] {
        background-color: #ebebeb;
    }

    div.sidebar-container {
        position: fixed;
        width: 20%;
        height: 100%;
    }

    div.main-container {
        width: 80%;
        margin-left: 20%;
        background: #fff;
    }

    section.main-section img#burger-menu-icon {
        display: none;
    }

    section.main-section:nth-child(2) {
        margin-top: 100px;
    }

    ul.menu span {
        text-decoration: underline;
        text-decoration-color: #AACE9B;
        font-size: 36px;
    }

    div#menu ul {
        display: flex;
        flex-direction: column;
    }

    ul.menu li {
        margin-top: 14px;
    }

    #menu-container {
        display: flex;
        flex-direction: column;
        padding-top: 41px;
        padding-left: 25px;
        padding-right: 48px;
    }

    div#get-in-touch {
        margin-top: 41px;
        font-size: 25px;
    }

    div#get-in-touch a {
        text-decoration: underline;
        text-decoration-color: #AACE9B;
    }

    #search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: #ebebeb;
    }

    /* Se que esta mal pero si les pongo class en vez de id por alguna razon no me lo toma
       Lo queres revisar? Seria en las lineas 40 y 44 del html*/

    #address-icon {
        width: 28px;
        height: 46px;
    }
}