<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix is the only employee time control tool you'll need to understand
        your business. Characteristics. All the functionalities of the control ...">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/login.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <div class="sidebar-container">
            <aside>
                <form id="search-container" method="post">
                    <input type="search" placeholder="search">
                </form>
                <div id="menu-container">
                    <ul class="menu">
                        <span>Menu</span>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./sign-up.html">Sign up</a></li>
                        <li><a href="./login.html">Log in</a></li>
                    </ul>
                    <div id="get-in-touch">
                        <a href="#">Get in touch</a>
                        <p>
                            Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac
                            varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                            Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                    <div>
                        <img id="address-icon" src="../assets/envelope.svg" alt="Envelope">
                        <a href="mailto:information@untitled.tld">information@untitled.tld</a>
                    </div>
                    <div>
                        <img id="address-icon" src="../assets/home.svg" alt="Home">
                        <address>1234 Somewhere Road #8254 Nashville, TN 00000-0000</address>
                    </div>
                </div>
            </aside>
        </div>
        <div class="login-and-signup-main-container">
            <main class="container">
                <header>
                    <h1><a href="./index.html" id="main-title">Trackgenix</a></h1>
                    <a href="https://radiumrocket.com/">
                        <img id="rr-logo"
                             src="https://radiumrocket.com/static/rocket-logo-883f208f5b6a41d21540cfecae22fa07.png"
                             alt="Radium Rocket logo"
                        >
                    </a>
                </header>
            </main>
            <section class="login-container">
                <h2 class="login-signup-title">Log in</h2>
                <form id="loginForm" class="form-section" name="form-section" method="get">
                    <div class="input-container">
                        <input type="text" class="login-input" placeholder="Email" id="email" name="email">
                        <p id="email-output" class="message-hidden">Valid email</p>
                    </div>
                   <div class="input-container">
                       <input type="password" class="login-input" placeholder="Password" id="password" name="password">
                       <p id="password-output" class="message-hidden">Valid password</p>
                   </div>

                    <div id="remember-me-container">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        <label for="remember-me">Remember me</label>
                    </div>
                    <input type="submit" class="continue-button" value="Continue" id="myBtn">
                    <p class="box-bottom-text" id="forgot-password"><a href="#">Forgot password?</a></p>
                    <p class="box-bottom-text">Don't have an account?
                        <a id="signup-now" href="sign-up.html">Sign up now</a>
                    </p>
                </form>
            </section>
        </div>
        <div id="myModal" class="modal-display-none">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2 id="modal-header">Waiting response...</h2>
                </div>
                <div class="modal-body">
                    <p id="email-modal-text"></p>
                    <p id="password-modal-text"></p>
                </div>
            </div>
        </div>
        <script src="../javascript/login.js"></script>
    </body>
</html>