header {
    display: flex;
    box-shadow: 0 8px 6px -6px black;
    justify-content: space-around;
    flex-basis: 100%;
    align-items: center;
    height: 100px;
    width: 100%;
}

#rr-logo {
    height: 70px;
}