/*
aside {
    width: 300px;
    height: 100%;
    background-color: #dcdada;
    position: fixed;
}

aside ul li a {
    display: block;
    font-size: 25px;
    border-bottom: solid 2px #AACE9B;
}

aside div ul li p {
    width: 100%;
    font-size: 15px;
}

input[type=search] {
    padding: 11px 37px;
    box-sizing: border-box;
    background-color: #ebebeb;
    background-image: url('./assets/search.svg');
    background-position: 10px 10px;
    margin-top: 31px;
    margin-left: 19px;
}

#menu {
    padding-top: 41px;
    padding-left: 25px;
    padding-right: 48px;
}

#search-container {
    height: 100px;
    background-color: #ebebeb;
}

.menu li:first-child, .menu li:nth-child(2), .menu li:nth-child(3) {
    margin-top: 15px;
}

.menu li:nth-child(4) {
    margin-top: 41px;
}

.menu li:nth-child(5) {
    margin-top: 20px;
}

.menu li:nth-child(6) {
    font-size: 10px;
}

#envelope-icon {
    width: 28px;
    height: 46px;
}

*/

aside {
    display: none;
}

@media(min-width: 768px){

}